body {
    font-family: "Merriweather", serif;
}

.txt-color {
    color: #FFF;
}

.txt-color-red {
    color: #FF0000;
}

.header {
    background-image: url('../images/Banner\ Image.png');
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 50px;
    border-radius: 16px;
}

.banner {
    text-align: center;
    padding: 120px;

}

.banner-greeting {
    font-size: 32px;
    font-weight: 400;
}

.banner-title {
    font-size: 72px;
    font-weight: 900;
    padding-bottom: 30px;
}

.section-container {
    text-align: center;
}

.section-title {
    font-size: 60px;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 0px;
}

.section-description {
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
}

.section-description-1 {
    font-size: 40px;
    font-weight: 700;
    margin-top: 10px;
}

.new-yr-pic {
    width: 800px;
}

.midnight-party {
    background-image: url('../images/Vectorrr.png');
    background-repeat: no-repeat;
    background-position: center;
}

.midnight-party-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 150px 250px 150px 200px;

}

.midnight-title {
    font-size: 60px;
    font-weight: 900;
}

.midnight-description {
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFFCC;
}

.btn-primary {                                      
    font-size: 20px;
    font-weight: 700;
    background-color:#FF0000 ;
    margin-top: 30px;
    color: white;
    border: 0;
    padding: 16px 32px;
    border-radius: 8px;
}

.place {
    align-items: center;
    width: 1320px;
    height: 600px;
    background-color: rgba(250, 235, 215, 0.511);
    border-radius: 20px;
    margin-left: 90px;
    margin-bottom: 50px;

}

.place-des {
    align-items: center;
    justify-content: center;
    padding: 150px 250px 150px 250px;
    color: #070211;
    text-align: center;
    font-size: 32px;
    font-weight: 600;

}

.btn-join {
    font-size: 20px;
    font-weight: 700;
    color: white;
    background-color: #FF0000;
    border: 0;
    padding: 16px 32px;
    border-radius: 8px;
}

/* new best offer */
.new-best-offer {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* gap: 50px; */
}
.best-offer-container{
    padding-left: 60px;
    padding-right: 90px;
}
.best-offer-title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0px;
}
.best-offer-title-1{
    font-size: 48px;
    font-weight: 900;
    margin-top: 15px;
    margin-bottom: 0px;
    /* padding-top: 0px; */
}
.best-offer-description{
    font-size: 20px;
    font-weight: 400;
    color: rgba(7, 2, 17, 0.60);
    margin-top: 15px;
}
.year-container{
    padding-right: 90px;
    padding-left: 40px;
}
.year{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 0px;
}
.year-description{
    font-size: 20px;
    font-weight: 400;
    color: rgba(7, 2, 17, 0.60);
    margin-top: 15px;
    margin-bottom: 0px;
}
.happy-img{
    margin-top: 15px;
}
.circle img{
    width: 250px;
    height: 250px;
    padding: 5px;

}
.circle {
    width: 260px;
    height: 260px;
    background: transparent;
    border-radius: 50%;
    border: 10px solid #FF0000;
    
}
/* Holyday sales */

.first-sale {
    align-items: center;
}
.Optional-part-conatiner{
    margin-top: 50px;
    margin-bottom: 50px;
}

.first-sale h5 {
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 5px;
}

.first-sale h1 {
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 10px;
}

.first-sale p {
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 2px;
}

.img-layer1 {
    margin-top: 80px;
    width: 50%;
    display: flex;
    margin-right: 20px;
}

.image-red {
    width: 630px;
    height: 550px;
    display: flex;
    margin-left: 860px;
    margin-right: 100px;

}

.image-sale {
    margin-right: 200px;
    position: absolute;
    margin-left: 700px;
}

.redline {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 200px;
    margin-left: 200px;

}

.box{
    margin-right: 400px;
    position: absolute;
    width: 700px;
    height: 500px;
    margin-bottom: 350px;

}

.function{
    color: #e5168f;
    font-size: 24px;
    font-weight: 500;
}

.holi{
    color: #da1414;
    font-size: 72px;
    font-weight: 900;
}

.fif{
    color: #070211;
    margin: 10px;
}

.holi-des{
    color: #2f021c;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0;
    padding-bottom: 0;
    color: rgba(7, 2, 17, 0.60);
}

.rectangle-2{
    /* margin-right: 100px; */
}


/* portfolio */
.portfolio-div {
    margin-left: 90px;
}

.portfolio-head {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0px;
}

.portfolio-title {
    font-size: 48px;
    font-weight: 900;
    margin-top: 15px;
    margin-bottom: 0px;
}

.portfolio-description {
    font-size: 20px;
    font-weight: 400;
    color: #07021199;
    margin-top: 15px;
    margin-bottom: 40px;
}

.first-row {
    display: flex;
    justify-content: space-around;
    padding: 0px 80px;
    padding-bottom: 24px;

}

.pic {
    width: 424px;
    height: 450px;
}

.second-row {
    display: flex;
    justify-content: space-around;
    padding: 0px 80px;
}

.pic-2 {
    width: 424px;
    height: 450px;
}

.first-row .pic:hover {
    filter: brightness(0.7);
    transition: filter 0.3s ease;
}

.second-row .pic-2:hover {
    filter: brightness(0.7);
    transition: filter 0.3s ease;
}

.newsletter-section {
    text-align: center;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    margin: 50px 90px;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 1320px;
    height: 600px;
}

.newsletter-title {
    font-size: 48px;
    font-weight: 900;
}

.newsletter-description {
    font-size: 20px;
    font-weight: 400;
    color: #07021199;
}

/* input and button styles */

.input {
    padding: 200px;
    justify-content: center;
    display: inline-block;
}

input[type="email"] {

    font-size: 20px;
    box-sizing: border-box;
    background: #FFF;
    width: 340px;
    height: 56px;
    outline: none;
    border-radius: 25px 0 0 25px;
    padding: 20px;
    border: 1px solid #fdfcfc;
}

.newsletter-form {
    text-align: center;
    /* Center align the form */
    margin-top: 50px;
}

.submit-button {
    width: 150px;
    height: 55px;
    outline: none;
    box-sizing: border-box;
    background-color: red;
    color: white;
    border: 1px solid rgb(237, 59, 59);
    padding: 20px;
    border-radius: 0 25px 25px 0;
    cursor: pointer;
}

.submit-button:hover {
    background-color: rgb(239, 131, 198);
}


/* footer section */
.footer-section {
    background-color: #070211;
    width: 100%;
    height: 600px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    color: #FFFFFF;
    padding-top: 50px;
    padding-bottom: 50px;
}

.call-div {
    display: flex;
    gap: 10px;
}

.web-div {
    display: flex;
    gap: 3px;
}

.footer-section hr {
    border: none;
    height: 1px;
    width: 1320px;
    background: rgba(255, 255, 255, 0.15);
    margin: 20px 100px;
}

.footer-img {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.footer-container-2 {
    display: flex;
    justify-content: space-around;
    color: #FFFFFF;
    padding-top: 50px;
}

.unsubscribe {
    padding-left: 300px;
}

.call-web-div {
    padding-left: 200px;
}